:root {
    --background-color: #ece5dd;
    --text-color: #333;
    --font-family: 'Arial', sans-serif;
    --button-bg-color: #f7f7f7;
    --button-bg-hover: #e1e1e1;
    --border-radius: 8px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    --font-size-normal: 1rem;
    --font-size-large: 1.25rem;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 65px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 90%; 
    max-width: 1200px; 
    margin: 2rem auto;
    background-color: #ecec5747;
    padding: 2rem; 
    box-shadow: var(--box-shadow);
    border-radius: 35px;
    justify-content: space-between; 
    align-items: center;
}

.movie-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    margin-top: 15px;
    margin-left: 10px;
}


@media (min-width: 768px) {
    .content {
        flex-direction: row;
        gap: 2rem;
    }
}

.user-info {
    margin-top: -185px;
    margin-left: -16px;
}

.default-avatar {
    font-size: 50px; /* Reduzido de 55px para 50px */
    color: #777;
}

.profile-image {
    width: 40px;  /* Largura definida como 50px */
    height: 40px; /* Altura definida como 50px */
    border-radius: 50%; /* Assegura que as bordas sejam totalmente arredondadas */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem ser distorcida */
}

.movie-info {
    display: flex;
    align-items: center;
    gap: 10px;
}


.back-button:hover, .comment-button:hover {
    background-color: var(--button-bg-hover);
}



.movie-description {
    width: 45%;            /* Ajusta a largura do contêiner */
    text-align: center;     /* Centraliza o texto */
    overflow-wrap: break-word; /* Garante a quebra de linha em palavras longas */
    box-sizing: border-box; /* Calcula o padding e a borda no width total */
    padding: 40px;          /* Adiciona padding para evitar que o texto toque as bordas */
    margin: auto;           /* Opcional: centraliza o contêiner se não estiver dentro de um flex ou grid layout */
}

.movie-img img {
    width: 300px;
    height: 200px;
    object-fit: cover; /* Adicione esta linha se quiser cortar a imagem preservando a proporção */
}



.value {
    display: inline-block; /* Permite que os valores fiquem lado a lado */
    margin-left: 0px;
}


@media (max-width: 768px) {
    .movie-image {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/*comentarios*/
.p {
   text-align: center; /* Centraliza o texto horizontalmente */
    width: 100%;
}
.comment {
    background-color: rgba(249, 249, 249, 0.5);
    margin: 10px 0;
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.comment form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
    font-weight: bold;
}

.comment span {
    font-size: 0.85rem;
    color: #666;
    margin-left: 1px;
}

.comment-text {
    margin-top: 10px;
    font-size: 0.99rem;
    line-height: 1.4;
    color: #333;
}

.add-comment {
    position: fixed;
    bottom: 0;
    left: 10%;  /* Aumenta a margem esquerda */
    right: 10%;
    padding: 14px 10px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.add-comment h3 {
    color: #333;
    font-size: 18px;
    margin-right: 20px;
    white-space: nowrap; 
}

.add-comment form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
}

.add-comment textarea {
    padding: 12px 15px;
    border: 2px solid #d1d1d1;
    border-radius: 15px;
    height: 60px;
    width: 110%; 
    max-width: 500px; 
    resize: none;
    outline: none;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    background-color: transparent;
}

.add-comment input[type="submit"] {
    padding: 10px 20px;
    background-color: #4267B2;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.25s;
}

.comments-section {
        font-size: 18px;
        padding: 20px;
        width: 95%;
    }



@media (max-width: 768px) {
    .add-comment h3 {
        margin-right: 10px; 
        font-size: 16px; 
    }
}

@media (max-width: 480px) {
    .add-comment h3 {
        margin-right: 5px; 
        font-size: 14px; 
    }
    .add-comment input[type="submit"] {
        padding: 8px 16px; 
        font-size: 14px;
    }
}



@media (max-width: 768px) {
    .comments-section {
        font-size: 24px;
        padding: 30px;
    }
}

@media (max-width: 480px) {
    .comments-section {
        font-size: 18px;
        padding: 20px;
        width: 95%;
    }
}

