body, html {
    height: 100%;
    margin: 0;
}

/*Cor do body*/
body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(to bottom, #6e45e2, #88d3ce, #ffcc2f);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*fim da body*/

.login-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 20px;
    color: white;
    max-width: 400px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #0056b3, #4a00e0, #d500f9);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(140, 68, 188);
}

a, button[type="button"] {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.button-like-link {
    display: inline-block;
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 5px 0; 
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #0056b3, #4a00e0, #d500f9);
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.button-like-link:hover {
    background-color: rgb(140, 68, 188); 
}


/* Responsividade */
@media (max-width: 768px) {
    .login-container {
        width: 90%; 
        padding: 20px; 
    }

    input[type="text"], input[type="password"], input[type="email"], button {
        padding: 15px; 
    }

    h1 {
        font-size: 24px; 
    }
}

@media (max-width: 480px) {
   
    .login-container {
        border-radius: 10px; 
    }
}
body, html {
    height: 100%;
    margin: 0;
}


.login-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 20px;
    color: white;
    max-width: 400px; /* Limita a largura máxima para evitar que o formulário fique muito largo em telas grandes */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #0056b3, #4a00e0, #d500f9);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(140, 68, 188);
}

a, button[type="button"] {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .login-container {
        width: 90%; 
        padding: 20px; 
    }

    input[type="text"], input[type="password"], input[type="email"], button {
        padding: 15px;  
    }

    h1 {
        font-size: 24px; 
    }
}

@media (max-width: 480px) {
    
    .login-container {
        border-radius: 10px; 
    }
}

/* navbar  */

.navbar {
    width: 100%;
    background: linear-gradient(to right, #6e45e2, #88d3ce);
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed; /* Fixa a navbar no topo da página */
    top: 0;
    z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
    font-size: 25px;
}

.nav-item i {
    margin-right: 8px;
}


.nav-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* tela de perfil  */

.profile-container {
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 550px;
    bottom: 150; 
}

.avatar {
    flex-basis: 30%;
    text-align: center;
    bottom: -100px;
    
}

.avatar1 {
    
    border: 20px solid #0c0f0f; 
    border-radius: 50%; 
    width: 195px;
    height: 195px;
    padding: -20px; 
    display: inline-block;
    background-image: url('user-icon.png'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 195px; 
    color: #78beb9; 
    
 }

 .user-name {
    font-size: 25px; 
    color: #333; 
    text-align: center; 
    margin-top: 10px;
}


 .info-container {
    position: relative;
    flex-basis: 70%;
    padding-left: 20px; 
}

#userNameDisplay, #userDescriptionDisplay {
    font-family: 'Roboto', sans-serif; 
    font-size: 24px;
}

.placeholder-text {
    color: #888181; 
}


.line-separator {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #ef811b;
}


.postsLike{
    position: absolute;
    bottom: 120px;
    width: 55%;
}

.buttonlike {
    background: linear-gradient(to right, #6e45e2, #88d3ce);
    display: inline-block;
    width: 350px;
    height: 30px;
    margin-right: 120px;
    border-radius: 15px;
    height: 70px; 
    font-size: 25px; 
    border-radius: 50px

}

.buttonposts {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    display: inline-block;
    width: 350px;
    height: 80px;
    margin-right: 120px;
    border-radius: 15px;
    height: 70px; 
    font-size: 25px; 
    border-radius: 50px
}
.profile-input {
    border: none !important; 
    outline: none !important;
    font-size: 25px;
    border-bottom: 1px solid #ccc; 
}


.profile-input, .profile-textarea {
    background-color: transparent; 
    border: none; 
    outline: none; 
    color: #000000; 
    width: 100%; 
    padding: 10px 0;
    font-size: 25px;
}

.profile-input::placeholder, .profile-textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
}


profile-input:focus {
    border-bottom: 1px solid #000; 
}

.profile-textarea {
    resize: none; 
    height: 100px;
}

/* Estilo do Modal para a tela de perfil */
.modal {
    display: none; /* Modal oculto por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica por cima de tudo */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita a rolagem se necessário */
    background-color: rgb(0,0,0); /* Fundo preto */
    background-color: rgba(0,0,0,0.4); /* Preto com opacidade */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Pode ajustar a largura conforme necessário */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
/*Index */
.post-container {
    padding: 20px;
    max-width: 100%; /* Certifique-se de que o container pode ocupar toda a largura disponível */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza as postagens horizontalmente */
}

.post {
    background-color: #f6f484;
    border-radius: 30px;
    padding: 35px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #000;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 900%;; /* Ajuste a largura das postagens aqui */
    max-width: 800px; /* Ou defina uma largura máxima fixa */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Opção de sombra para dar profundidade */
}

.post:hover {
    background-color: #f1e4a2; /
}

.imagem-perfil {
    border-radius: 50%; 
    margin-right: 20px;
    width: 50px; 
    height: 50px; 
    flex-shrink: 0; 
}

.conteudo-post {
    flex-grow: 1; 
    overflow: hidden; 
}

.conteudo-post p {
    margin: 0;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
}
