:root {
    --background-color: #ece5dd;
    --text-color: #333;
    --font-family: 'Arial', sans-serif;
    --button-bg-color: #f7f7f7;
    --button-bg-hover: #e1e1e1;
    --border-radius: 8px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    --font-size-normal: 1rem;
    --font-size-large: 1.25rem;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 95%;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: #fff; /* Para melhor legibilidade */
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 35px;
    align-items: center;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
        align-items: start; /* Alinha os itens ao topo */
    }
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.default-avatar {
    font-size: 50px;
    color: #777;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.movie-details {
    display: flex;
    flex-direction: column; /* Para melhor organização dos detalhes do filme */
    align-items: start; /* Alinhamento à esquerda */
    gap: 10px; /* Espaçamento entre elementos */
    width: 100%;
    max-width: 1024px;
    margin: 1rem auto; /* Ajuste de margem para evitar o uso de valores negativos */
}

.movie-description {
    font-size: var(--font-size-normal);
    margin-top: 1rem; /* Ajustado para um valor mais apropriado */
    width: 100%; /* Ajuste para ocupar toda a largura disponível */
}

.movie-image {
    flex: 0 0 auto; /* Não crescer nem encolher */
    width: 100%; /* Ajuste para responsividade */
    max-width: 300px; /* Tamanho máximo da imagem */
    border-radius: 20px;
    overflow: hidden; /* Esconde qualquer parte da imagem que exceda o border-radius */
}

@media (max-width: 768px) {
    .movie-image {
        max-width: 100%; /* A imagem se ajusta ao container em telas menores */
    }
}

.back-button, .comment-button {
    padding: 0.625rem 0.9375rem;
    border: none;
    background-color: var(--button-bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-size: var(--font-size-normal);
    transition: background-color 0.3s ease;
}

.back-button:hover, .comment-button:hover {
    background-color: var(--button-bg-hover);
}
