.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 45px;
  
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    margin: 100px auto 0; /* Adiciona espaço no topo */
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.avatar {
    width: 100%;              /* Garante que ocupa a largura total do contêiner pai */
    text-align: center;       /* Centraliza o conteúdo horizontalmente */
    display: flex;            /* Usa flexbox para controle de layout */
    flex-direction: column;   /* Alinha os itens em uma coluna */
    align-items: center;      /* Centraliza os itens na linha do eixo cruzado (horizontalmente) */
    justify-content: center;  /* Centraliza os itens ao longo do eixo principal (verticalmente) */
    /* Aumento da margem superior para deslocar o avatar para baixo */
}



.user-name {
    font-size: 25px;
    color: #333;
    text-align: center;
    margin-top: 10px;
}


.info-container {
    width: 100%;         /* Ocupa toda a largura do contêiner pai ou ajuste conforme necessário */
    padding: 20px;       /* Espaço interno para afastar o conteúdo das bordas */
    box-sizing: border-box; /* Garante que o padding não adicione largura extra */
}



#userNameDisplay, #userDescriptionDisplay {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.placeholder-text {
    color: #888181;
}

.date-container {
    position: absolute; /* Posiciona-se relativamente ao container pai */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: darkslategray;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}
.profile-input {
    border: none !important;
    outline: none !important;
    font-size: 25px;
    border-bottom: 1px solid #ccc;
}


.profile-input, .profile-textarea {
    background-color: transparent;
    border: none;
    outline: none;
    color: #000000;
    width: 100%;
    padding: 10px 0;
    font-size: 25px;
}

.profile-input::placeholder, .profile-textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
}


profile-input:focus {
    border-bottom: 1px solid #000;
}

.profile-textarea {
    resize: none;
    height: 100px;
}
